@import "../../../styles.scss";

section {
  @include dFlex($ai: flex-start, $jc: space-around);
  // flex-direction: column;
  width: 100%;
  h3 {
    color: $primary;
    font-family: $fontSecondary;
  }
}

h2,
h3 {
  hyphens: auto;
}

.textContent {
  width: 50%;
  b,
  span {
    color: $primary;
  }
  h3 {
    font-weight: 700;
  }
}

table {
  width: 100%;
  border-bottom: 1px solid $primary;
  tr {
    border-collapse: collapse;
    td {
      position: relative;
      border-top: 1px solid $primary;
    }
  }
}

.contactForm {
  @include dFlex($fd: column);
  width: 60%;
  padding: 0 1rem;
  h3 {
    font-weight: 500;
  }
  input[type="text"],
  textArea {
    background-color: $background;
    color: white;
    width: 100%;
    resize: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $fontMain;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      border-color: $primary;
    }
    &::placeholder {
      color: white;
      opacity: 0.8;
    }
    &.errorColor {
      &::placeholder {
        color: rgba(236, 123, 123, 0.8);
      }
    }
  }
}

.policyCheck {
  cursor: pointer;
  @include dFlex($jc: space-around);
  .checkboxHover {
    display: none;
  }
  &:hover {
    .checkboxHover {
      display: unset;
    }
  }

  a {
    color: $secondary;
    &:hover {
      text-decoration: underline;
    }
  }
}

span {
  width: 90%;
}

.emailError {
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(236, 123, 123, 0.8);
}

.popup {
  position: fixed;
}

.popupCurtain {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(black, 0.2);
}

section .popupMessage {
  border: 1px solid $primary;
  text-align: center;
  top: 30%;
  right: 20%;
  left: 20%;
  border-radius: 30px;
  width: 60vw;
  height: 30vh;
  background: linear-gradient(to left bottom, rgb(22, 73, 65), 45%, black);
  @include dFlex($fd: column, $g:3rem);
  z-index: 100;
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }
}
