<section>
  <h2 id="contact">Contact</h2>
  <div class="contactContent">
    <div class="textContent">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="contactForm">
      <input type="text" placeholder="Your name" />
      <input type="text" placeholder="Your email" />
      <textarea name="" id="" placeholder="Your message"></textarea>
      <div class="policyCheck">
        <input type="checkbox" name="" id="checkPolicy" /><span
          >I've read the <a href="">Privacy policy</a> and agree to the
          processing of my data as outlined.</span
        >
      </div>
      <button class="button">Send message</button>
    </div>
  </div>
</section>
