@import "../../../styles.scss";

section {
  flex-direction: column;
}

.contactContent {
  @include dFlex();
  width: 100%;
}

.textContent {
  width: 50%;
}

.contactForm {
  @include dFlex($fd: column);
  width: 50%;
  input[type="text"],
  textArea {
    width: 80%;
    resize: none;
    border: 1px solid $secondary;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: Poppins;
    border-radius: 10px;
    &:hover {
      border-color: $primary;
    }
  }
}

.policyCheck {
  @include dFlex($jc: space-around);
  .checkbox {
    .checkboxHover {
      display: none;
    }
    &:hover {
      .checkboxHover {
        display: unset;
      }
    }
  }
}

span {
  width: 90%;
}
