<div class="burgerMenu" (click)="toggleMenu()">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

@if(showMenu) {
<div class="curtain" (click)="closeMenu()"></div>
<div class="headerMenu">
  <div class="langSwitchContainer" (click)="translate.toggleLang()">
    <span [ngClass]="{ langSelected: translate.lang == 'EN' }">EN</span>
    <span [ngClass]="{ langSelected: translate.lang == 'DE' }">DE</span>
  </div>
  <a (click)="closeMenu()" href="#about">{{'About me'|translate}}</a>
  <a (click)="closeMenu()" href="#skills">Skills </a>
  <a (click)="closeMenu()" href="#portfolio">Portfolio </a>
  <!-- <br>
  <span>Animation</span>
  <div class="animationContainer" (click)="toggleAnimation()">
    <span [ngClass]="{animationSelected: heroAnimation}">ON</span>
    <span [ngClass]="{animationSelected: !heroAnimation}">OFF</span>
  </div> -->
</div>
}
