@import "../../../styles.scss";

section {
  justify-content: space-between;
}

img {
  width: 40%;
  object-fit: cover;
}

.outerText {
  @include dFlex($fd: column, $ai: flex-start);
  width: 45%;
  margin-top: 20%;
}

.aboutContent {
  font-size: 1.2rem;
  // max-width: 830px;
  h2 {
    margin: 0;
  }
}
