<section id="about">
  <div class="aboutFoto">
    <img src="img/about_foto.png" alt="" />
    <div class="foto-shadow"></div>
  </div>
  <div class="outerText">
    <span class="sectionName">{{ "Who I Am" | translate }}</span>
    <div class="aboutContent textBox">
      <h2>{{ "About me" | translate }}</h2>
      <div>{{ "about-1" | translate }}</div>

      <div>
        <ul>
          <li
            [style.listStyleImage]="'url(\' ' + aboutList[1].url + '\')'">
            <span>
              {{ "about-l-1" | translate }}
            </span>
          </li>
          <li [style.listStyleImage]="'url(' + aboutList[2].url + ')'">
            <span>{{ "about-l-2" | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
