<section class="outerContainer">
  <div class="backgroundShadows"></div>
  <div class="backgroundPhoto"></div>
  <!-- <div class="photoContainer">
    <img id="heroPhoto" src="/img/hero character photo.png" alt="" />
  </div> -->
  <div class="backgroundCurve"></div>
  <div class="heroContent">
    <div class="heroText">
      <span>I&nbsp;am</span>
      <div>
        <h2>Robin&nbsp;Siebers</h2>
        <h3>Frontend&nbsp;Developer</h3>
      </div>
    </div>
    <a href="#contact" class="button">Let's talk</a>
  </div>
</section>
