@import "../../../styles.scss";

section {
  // background-color: pink;
  position: relative;
  width: 100%;
  @include dFlex($jc: flex-end);
  min-height: 800px;
  height: calc(100vh - 120px);
}

.backgroundCurve {
  background-image: url("/img/28.\ Hero\ Background.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  position:absolute;
  top: 15vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85vh;
}

.backgroundShadows {
  background-image: url("/img/29.\ photo\ shadows.svg");
  background-repeat: no-repeat;
  background-position: top left;
  position:absolute;
  top: 0;
  left: 0;
  margin-top: 10vh;
  margin-left: -100px;
  right: 0;
  height: 90vh;
}

.backgroundPhoto {
  background-image: url("/img/hero\ character\ photo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 70vh;
  position:absolute;
  top: 0;
  left: 6vh;
  right: 0;
  height: 100vh;
}

.photoContainer {
  position: relative;
  width: 50%;
  height: 100%;
  #heroPhoto {
    position: absolute;
    // background-color: white;
    object-fit: contain;
    // min-height: 60%;
    min-width: 400px;
    width: 65%;
    left: 150px;
    z-index: 0;
  }
}

.heroContent {
  z-index: 50;
  @include dFlex($fd: column, $g: 3rem);
}

.heroText {
  @include dFlex($g: 0);
  z-index: 10;
  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
    font-size: 3rem;
    color: $secondary;
    text-transform: uppercase;
  }
}

span {
  rotate: -90deg;
  font-size: 3.5rem;
  font-weight: 100;
  font-stretch: expanded;
  flex: 1;
}
