<section class="outerContainer">
  <!-- <img class="heroBackground" src="/img/28. Hero Background.svg" alt="" /> -->
  <div class="photoContainer">
    <img src="img/29. photo shadows.svg" alt="">
    <img src="/img/hero character photo.png" alt="" />
  </div>
  <div class="heroContent">
    <div class="heroText">
      <span>I&nbsp;am</span>
      <div>
        <h2>Robin&nbsp;Siebers</h2>
        <h3>Frontend&nbsp;Developer</h3>
      </div>
    </div>
    <a href="#contact" class="button">Let's talk</a>
  </div>
</section>
