<section class="outerContainer">
  <app-header class="width-100"></app-header>
  <div class="lineLeft">---</div>
  <div class="heroContent">
    <div class="heroCenter">
      <h1>Frontend&nbsp;Developer</h1>
      <h2>Robin&nbsp;Siebers</h2>
      <div class="buttonContainer">
        <a href="#portfolio" class="button"
          ><span>Check my work</span>Check my work</a
        >
        <a href="#contact" class="button">Contact me<span>Contact me</span> </a>
      </div>
    </div>
  </div>
  <div class="lineRight">---</div>
  <div class="marqueeBackground">
    <div class="marquee">
      <span>Available for remote work</span> <span>Frontend Developer </span
      ><span>Based in HGW</span><span>Open to work</span>
    </div>
    <div class="marquee">
      <span>Available for remote work</span> <span>Frontend Developer </span
      ><span>Based in HGW</span><span>Open to work</span>
    </div>
    <!-- <div class="marquee">
      <span>Available3 for remote work</span> <span>Frontend Developer </span
      ><span>Based in HGW</span><span>Open to work</span>
    </div> -->
    
  </div>
</section>
