@import "../../../styles.scss";

section {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  width: 100%;
  @include dFlex();
  height: 100vh;
  background: linear-gradient(
    to left bottom,
    rgba(61, 207, 182, 0.5),
    15%,
    black
  );
}

app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

section .heroContent {
  width: fit-content;
  z-index: 5;
  @include dFlex($jc: space-around, $g: 1rem);
  .heroCenter {
    @include dFlex($fd: column, $g: 1rem);
  }
  h2 {
    margin: 0;
    font-size: 5rem;
    color: $fontColor;
    font-weight: 500;
  }
  h1 {
    margin: 0;
    font-size: 2.5rem;
    color: $fontColor;
    font-weight: 400;
    font-family: $fontSecondary;
  }
}

.buttonContainer {
  margin-top: 1.5rem;
  @include dFlex();
}

.marqueeBackground {
  filter: blur(0.5);
  position: absolute;
  left: 0;
  bottom: 16%;
  width: 200%;
  white-space: no-wrap;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.12);
  rotate: -2deg;
  z-index: 10;
}

.marquee {
  color: $primary;
  white-space: nowrap;
  font-size: 2rem;
  width: 100%;
  min-width: 100%;
  @include dFlex($jc: space-evenly);
  span {
    white-space: nowrap;
  }
}

.animate {
  animation: marqueeBasic linear 120s infinite;
}

.lineContainer {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include dFlex($jc: space-between);
  padding: inherit;
}

.heroLine {
  z-index: 20;
  height: 70vh;
  @include dFlex($fd: column, $jc: flex-end);
  width: fit-content !important;
  > * {
    z-index: 10;
  }
}

.arrowDown {
  border: 1px solid $primary;
  border-radius: 100px;
  padding: 1rem;
}

.moveUpDown {
  animation: 1s moveUpDown 3s infinite;
}

.separatorLeft {
  border-left: 1px solid $primary;
  height: 30vh;
}

.heroMail {
  rotate: -180deg;
  writing-mode: vertical-rl;
  &:hover {
    color: $primary;
  }
}

.heroLink {
  position: relative;
  @include dFlex();
  transition: all 2s ease-in-out;
  .heroLinkWhite {
    display: none;
  }
  .dotChecked {
    position: absolute;
    left: 2.5rem;
    display: none;
  }

  &:hover {
    .heroLinkGreen {
      display: none;
    }
    .heroLinkWhite,
    .dotChecked {
      display: unset;
    }
  }
}

.separatorRight {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  height: 25vh;
}

@media (max-width: 1000px) {
  .marquee {
    font-size: 1.5rem;
  }
}

@media (max-width: 780px) {
  section .heroContent {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 5rem;
    }
  }

  .marqueeBackground {
    bottom: 5%;
  }

  .separatorRight {
    height: 12vh;
  }

  .separatorLeft {
    height: 15vh;
  }

  .marquee {
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  section .heroContent {
    h1 {
      font-size: 1.3rem;
    }
    h2 {
      font-size: 4rem;
    }
  }

  .buttonContainer {
    @include dFlex($fd: column);
  }
}
