<div class="popup-curtain d-none" id="{{ num }}">
  <div class="popup-portfolio">
    <div class="leftContainer">
      <div class="popup-header">
        <h4>0{{ num +1 }}</h4>
        <h3>{{ portfolio.title }}</h3>
      </div>
      <article>
        <h5>{{"project-about"|translate}}?</h5>
        <p>
          @if(translate.lang=="EN") {
            {{ portfolio.description }}
          } @else if (translate.lang=="DE") {
            {{ portfolio.descriptionDe }}
          }
        </p>
      </article>

      <div class="portfolio-skills">
        @for (skill of portfolio.skills; track $index) {
        <span>{{ skill }}</span>
        }
      </div>
      <div class="buttonContainer">
        <a href="{{ portfolio.github }}"
          >Github
          <img src="img/icons/arrow_outward.svg" alt="arrow to upper left" />
        </a>
        <a href="{{ portfolio.livetest }}"
          >Livetest
          <img src="img/icons/arrow_outward.svg" alt="arrow to upper left" />
        </a>
      </div>
    </div>
    <div class="rightContainer">
      <button class="button-close" (click)="featured.closePopup(num)">
        x
      </button>
      <img
        src="{{portfolio.image}}"
        alt="preview of Join, showing a Kanban-board with four columns and different tasks"
      />
      <button (click)="featured.showNext(num)" class="button-next">
        {{"Next project"|translate}}
        <img src="img/icons/arrow-right-green.svg" alt="" />
        
      </button>
    </div>
  </div>
</div>
