<nav>
  <div class="langSwitchContainer" (click)="translate.toggleLang()">
    <span [ngClass]="{ langSelected: translate.lang == 'EN' }">EN</span>
    <span [ngClass]="{ langSelected: translate.lang == 'DE' }">DE</span>
  </div>
  <a href="#about">{{'About me'|translate}}<img class="dotChecked" src="img/icons/dot_checked.svg" alt="" /> </a>
  <a href="#skills">Skills <img class="dotChecked" src="img/icons/dot_checked.svg" alt="" /> </a>
  <a href="#portfolio"
    >Portfolio <img class="dotChecked" src="img/icons/dot_checked.svg" alt="" />
  </a>
</nav>
