@import "../../../../styles.scss";

nav {
  @include dFlex($fd: column, $ai: flex-start, $g: 0.5rem);
  a {
    font-family: $fontMain;
    position: relative;
    transition: all 125ms ease-in-out;
    font-size: 1.1rem;
    @include dFlex();
    .dotChecked {
      position: absolute;
      left: -1rem;
      display: none;
    }
    &:hover {
      color: $primary;
      .dotChecked {
        display: unset;
      }

    }
  }
}
