@import "../../../styles.scss";

h2,
h3 {
  margin: 0;
}

.skillsContainer {
  @include dFlex();
}

.iconContainer {
  width: 60%;
  max-width: 740px;
  margin-top: 2rem;
  @include dFlex($jc: space-evenly, $g: 5rem);
  flex-wrap: wrap;
  padding: 0 3rem;

  .iconElement {
    @include dFlex($fd: column);
    width: 5rem;
    img {
      transition: all 75ms ease-in-out;
      &:hover {
        scale: 1.05;
      }
    }
  }
}

.outerText {
  @include dFlex($fd: column, $ai: flex-start);
  width: 45%;
}

.textContainer {
  width: 100%;
  h3 {
    font-size: 1.5rem;
    font-family: $fontSecondary;
    span {
      color: $secondary;
    }
  }
}
