<section id="skills">
  <!-- <div class="skillsContainer"> -->
    <div class="textContainer textBox">
      <h2>Skill set</h2>
      <p>
        My journey has involved working on diverse projects, employing a range
        of frontend technologies and concepts. I am open to embracing new
        technologies and methodologies to continously enhance my skills and stay
        ahead in the ever-evolving landscape of web development.
      </p>
      <h3>Looking for <span>another skill</span>?</h3>
      <p>
        Feel free to contact me. I look forward to expanding on my previous
        knowledge.
      </p>
      <button class="button">Let's talk<span>Let's talk</span></button>
    </div>
    <div class="iconContainer">
      @for (skill of skills; track skill.name) {
      <div class="iconElement">
        <img src="{{ skill.icon }}" alt="" />
        <span>{{ skill.name }}</span>
      </div>
      }
    </div>
  <!-- </div> -->
</section>
