<section id="skills">
  <div class="outerText">
    <span class="sectionName">{{ "Technologies" | translate }}</span>
    <div class="textContainer textBox">
      <h2>Skill set</h2>
      <p>
        {{ "skills-1" | translate }}
      </p>
      <h3>
        {{ "Looking for" | translate }}
        <span>{{ "another skill" | translate }}</span
        >?
      </h3>
      <p>
        {{ "skills-invite" | translate }}
      </p>
      <button class="button">
        {{ "skills-button" | translate
        }}<span>{{ "skills-button" | translate }}</span>
      </button>
    </div>
  </div>
  <div class="iconContainer">
    @for (skill of skills; track skill.name) {
    <div class="iconElement">
      <img src="{{ skill.icon }}" alt="" />
      <span>{{ skill.name }}</span>
    </div>
    }
  </div>
</section>
