<section>
  <h2>{{"What my colleages say about me"|translate}}</h2>
  <div class="outerContainer">
    <div class="textBoxContainer">
      @for (reference of references; track $index) { @if(currentRef == $index) {

      <div class="textBox">
        <div class="partnerContainer">
          <div class="separator"></div>
          {{ references[getPreviousIndex()].quote }}
        </div>
        <h3>{{ references[getPreviousIndex()].partner }}</h3>
      </div>

      <div class="textBox">
        <img class="quoteIcon" src="img/icons/quotes.svg" alt="" />
        {{ reference.quote }}
        <div class="partnerContainer">
          <div class="separator"></div>
          <h3>{{ reference.partner }}</h3>
        </div>
      </div>

      <div class="textBox">
        {{ references[getNextIndex()].quote }}
        <div class="partnerContainer">
          <div class="separator"></div>
          <h3>{{ references[getNextIndex()].partner }}</h3>
        </div>
      </div>

      } }
    </div>
  </div>
  <div class="arrowContainer">
    <img
      src="img/icons/arrow_back.svg"
      (click)="previousRef()"
      alt="arrow to left"
    />
    @for (reference of references; track $index) { @if(currentRef == $index) {
    <img src="img/icons/circleGreen.svg" alt="dot - selected" />
    } @else {
    <img src="img/icons/circleWhite.svg" alt="dot - not selected" />
    } }
    <img
      src="img/icons/arrow_forward.svg"
      (click)="nextRef()"
      alt="arrow to right"
    />
  </div>
</section>
