@import "../../../styles.scss";

section {
  flex-direction: column;
  gap: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.outerContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

.textBoxContainer {
  @include dFlex($jc: space-between, $g: 2rem);
  padding-top: 2rem;
  width: 150%;
  left: -25%;
  position: relative;
}

.quoteIcon {
  position: absolute;
  top: -1.6rem;
  left: -3.2rem;
  z-index: 10;
}

.textBox {
  position: relative;
  width: 70%;
  margin-top: 0.5rem;
  min-height: 5rem;
  &:first-child {
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  &:last-child {
    top: 0;
    right: 0;
    opacity: 0.5;
  }
}

.partnerContainer {
  @include dFlex($jc: space-between);
  width: 100%;
}

.separator {
  border-top: 1px solid rgba(white,0.7);
  flex:1;
}

.arrowContainer {
  @include dFlex();
  > img {
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  h3 {
    font-size: 1.4rem;
  }

  .textBoxContainer {
    width: 200%;
    left: -50%;
  }
}

@media (max-width: 570px) {
  h3 {
    font-size: 1.2rem;
  }

  .textBoxContainer {
    gap: 1rem;
    width: 220%;
    left: -60%;
  }

  .quoteIcon {
    width: 80px;
    object-fit: cover;
    left: -2.5rem;
  }
}