<section>
  <h2>What my colleages say about me</h2>
  <div class="outerContainer">
    <div class="textBoxContainer">
      <div class="textBox">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        voluptas nemo voluptates omnis dolorem inventore repellendus neque amet
        dolor ipsum voluptatum eos incidunt, temporibus delectus sit molestias
        dolores, quibusdam laudantium.
        <h2>Ref1</h2>
      </div>
      <img class="quoteIcon" src="img/icons/quotes.svg" alt="" />
      <div class="textBox">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure
        doloremque itaque eligendi asperiores magnam ratione cum voluptas
        adipisci! Modi et adipisci sit officia harum, possimus nostrum illo
        consectetur facere quos?
        <h2>Ref2</h2>
      </div>
      <div class="textBox">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores neque
        ipsa nesciunt doloribus optio voluptatum, quidem magni? Doloribus
        voluptatum deleniti, impedit temporibus, quasi natus explicabo aliquam,
        ab modi vitae iure.
        <h2>Ref3</h2>
      </div>
    </div>
    
  </div>
  <div class="arrowContainer">
    <img src="img/icons/arrow_back.svg" alt="arrow to left" />
    <img src="img/icons/circleGreen.svg" alt="dot - selected" />
    <img src="img/icons/circleWhite.svg" alt="dot - not selected" />
    <img src="img/icons/circleWhite.svg" alt="dot - not selected" />
    <img src="img/icons/arrow_forward.svg" alt="arrow to right" />
  </div>
</section>
