$primary: rgba(112, 230, 28, 1);
$secondary: rgba(151, 71, 255, 1);
$background: rgba(20, 29, 47, 1);
$mainFont: Poppins, sans-serif;

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Quantico;
  src: url(/fonts/quantico/Quantico-Regular.ttf);
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $g: 16px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $mainFont;
  background-color: $background;
  color: white;
  font-size: 16px;
  min-height: 100vh;
}

.width-100 {
  width: 100%;
}

section {
  width: 100%;
  border: 2px solid white;
  background-color: $background;
  @include dFlex();
  padding: 0 4rem;
  max-width: 1920px;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

.button {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: $primary;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 25ms ease-in-out;
  &:hover {
    background-color: $secondary;
    scale: 1.1;
  }
  &:active {
    background-color: white;
    color: black;
  }
}

.d-none {
  display: none;
}