@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}