@import "../../../styles.scss";

footer {
  padding: 1rem 8rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 1920px;
}

a {
  font-size: 2.5rem;

  &:last-child {
    font-size: 1.5rem;
  }
}

.footer-upper {
  width: 100%;
  height: 10rem;
  font-size: 1.5rem;

  font-weight: bold;
  @include dFlex($jc: space-between);
}

.footer-info {
  @include dFlex($fd: column, $ai: flex-start);
  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.logo {
  width: 8rem;
  height: 3.5rem;
  object-fit: contain;
}

.footer-copyright {
  font-size: 1.2rem;
  font-family: $fontSecondary;
  color: $primary;
  font-weight: 400;
  margin: 1rem;
}

.footer-lower {
  @include dFlex();
}

@media (max-width: 1000px) {
  footer {
    padding: 2rem 4rem;
  }
}

@media (max-width: 580px) {
  footer {
    padding: 2rem 2rem;
  }
}

@media (max-width: 450px) {
  .footer-upper {
    @include dFlex($fd: column);
    flex-direction: column;
    height: unset;
  }

  .footer-info {
    align-items: center;
    > * {
      text-align: center;
    }
  }

  .footer-copyright {
    margin-left:0;
    margin-right:0;
  }
}
