<section id="portfolio">
  <span class="sectionName">Portfolio</span>
  <h2>{{ "Featured Projects" | translate }}</h2>
  <p>
    {{ "portfolio-1" | translate }}
  </p>
  <div class="tablePortfolio">
    <table>
      @for(project of featured.portfolios; track $index) {
      <tr
        (click)="featured.showPopup($index)"
        (mouseover)="hoverOn($index)"
        (mouseout)="hoverOff()"
      >
        <td>{{ project.title }}</td>
        <td>
          @for(skill of project.skills; track $index) {
          <span>{{ skill }}</span>
          @if($index < project.skills.length-1) {
          <span class="projects-separator">|</span>

          } }
        </td>
      </tr>
      }
    </table>
    @for(project of featured.portfolios; track $index) { @if(hovering==$index) {
    <img src="{{ project.image }}" alt="" class="project-image hide-mobile" />
    } }
  </div>

  @for(project of featured.portfolios; track $index) {
  <app-single-popup [portfolio]="project" [num]="$index"></app-single-popup>
  }
</section>
