<section id="portfolio">
  <span>Portfolio</span>
  <h2>Featured Projects</h2>
  <p>
    Explore a selection of my work here - interact with projects to see my
    skills in action
  </p>
  <table>
    @for(project of projects; track $index) {
    <tr (click)="showPopup('thisPopup')">
      <td>{{ project.name }}</td>
      <td>{{ project.skills }}</td>
    </tr>
    }
  </table>
  <div class="popup-curtain" id="thisPopup">
    <div class="popup-portfolio">
      <div class="leftContainer">
        <h4>01</h4>
        <h3>Join</h3>
        <h5>What is this project about?</h5>
        <p>Task manager inspired by the Kanban system.</p>
        <div>CSS HTML Firebase Angular Typescript</div>
        <div class="buttonContainer">
          <a href=""
            >Github
            <img src="/img/icons/arrow_outward.svg" alt="arrow to upper left" />
          </a>
          <a href=""
            >Livetest
            <img src="/img/icons/arrow_outward.svg" alt="arrow to upper left" />
          </a>
        </div>
      </div>
      <div class="rightContainer">
        <button class="button-close" (click)="closePopup('thisPopup')">x</button>
        <img
          src="/img/previewJoin.svg"
          alt="preview of Join, showing a Kanban-board with four columns and different tasks"
        />
        <button class="button-next">
          Next project
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            alt="arrow to the right"
          >
            <mask
              id="mask0_4079_519"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="32"
              height="32"
            >
              <rect width="32" height="32" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_4079_519)">
              <path
                d="M22.7716 16.6667H7.33329C7.14351 16.6667 6.98496 16.603 6.85763 16.4757C6.73029 16.3483 6.66663 16.1898 6.66663 16C6.66663 15.8102 6.73029 15.6517 6.85763 15.5243C6.98496 15.397 7.14351 15.3333 7.33329 15.3333H22.7716L15.5206 8.08199C15.3906 7.95222 15.3226 7.79922 15.3166 7.62299C15.3106 7.44699 15.3812 7.28544 15.5283 7.13833C15.6752 6.99655 15.8324 6.92433 16 6.92166C16.1675 6.91922 16.3247 6.99144 16.4716 7.13833L24.5793 15.246C24.6957 15.3624 24.7774 15.4813 24.8243 15.6027C24.8714 15.724 24.895 15.8564 24.895 16C24.895 16.1435 24.8714 16.276 24.8243 16.3973C24.7774 16.5187 24.6957 16.6375 24.5793 16.754L16.4716 24.8617C16.347 24.9863 16.1953 25.053 16.0166 25.0617C15.838 25.0701 15.6752 25.0034 15.5283 24.8617C15.3812 24.7146 15.3076 24.556 15.3076 24.386C15.3076 24.2158 15.3812 24.0572 15.5283 23.9103L22.7716 16.6667Z"
                fill="rgba(61, 207, 182, 1)"
              />
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
