<section id="portfolio">
  <span>Portfolio</span>
  <h2>Featured Projects</h2>
  <p>
    Explore a selection of my work here - interact with projects to see my
    skills in action
  </p>
  <table>
    @for(project of featured.portfolios; track $index) {
    <tr (click)="featured.showPopup($index)">
      <td>{{ project.title }}</td>
      <td>
        @for(skill of project.skills; track $index) {
        <span>{{ skill }}</span>
        @if($index < project.skills.length-1) {
        <span class="projects-separator"> | </span>

        } }
      </td>
    </tr>
    }
  </table>
  @for(project of featured.portfolios; track $index) {
  <app-single-popup [portfolio]="project" [num]="$index"></app-single-popup>
  }
</section>
